<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{{title}}</title>
  </head>
  <body>
    {{> header}}
    <p>
        <h3> About us: We are the coders</h3>
    </p>
    {{> footer}}
  </body>
</html>
