<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Maintenance on, Will be right back</h1>
    <p> The site is currently being updated </p>
  </body>
</html>
